{% extends 'base.html.twig' %}

{% block title %}Hello DashboarController!{% endblock %}

{% block body %}

    <h1>Listado Productos</h1>
    <div class="d-flex justify-content-center">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO PESOS</th>
                <th scope="col">PRECIO DOLARES</th>
            </tr>
            </thead>
            <tbody id="listado-productos">

            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            const apiEndpoint = '{{ path('api_producto_get_listado') }}';
            fetch(apiEndpoint)
                .then(response => response.json())
                .then(data => {
                    let dataJson = JSON.parse(data);
                    dataJson.forEach(
                        elemento => document.getElementById('listado-productos').innerHTML += "<tr><th scope='ow'>" + elemento.id + "</th><td>" + elemento.nombre + "</td><td>$" + elemento.precioPesos + "</td><td>U$S" + elemento.precioDolares + "</td></tr>");
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error fetching data:', error);
                });
        });
    </script>
{% endblock %}
