{% extends 'base.html.twig' %}

{% block title %}Hello DashboarController!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <form id="producto_form_new">
            <div class="mb-3 ">
                <input name="nombre" type="text">
                <label for="html">Nombre</label>
            </div>
            <div class="mb-3">
                <input name="precioPesos" type="text">
                <label for="html">Precio</label>
            </div>
            <div class="mb-3">
                <button id="boton_submit" type="submit">Guardar</button>
                <div id="spinner" hidden="true"class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById('producto_form_new');

            form.addEventListener('submit', function (e) {
                // Prevent default behavior:
                e.preventDefault();

                const formData = new FormData(form);

                const jsonObject = Object.fromEntries(formData);

                let json = JSON.stringify(jsonObject);
                let button = document.getElementById('boton_submit');
                button.disabled = true;
                document.getElementById('spinner').hidden = false;

                fetch('{{ path('api_producto_post') }}', {
                    method: 'POST',
                    body: json,
                })
                    .then(response => {
                        document.getElementById("producto_form_new").reset();
                        document.getElementById('boton_submit').disabled = false;
                        document.getElementById('spinner').hidden = true;
                        console.log('response.status: ', response.status);
                    })
                    .catch(err => {
                        console.log(err);
                        document.getElementById('boton_submit').disabled = false;
                        document.getElementById('spinner').hidden = true;
                    });
            })
        });
    </script>
{% endblock %}
